spring:
  datasource:
    url: jdbc:mysql://localhost:3306/Patent
    username: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  sql:                    # ? must be inside spring
    init:
      mode: always

server:
  port: 8080
